html, body {
    color: #333333;
    font-family: glober, sans-serif;
    font-size: 100%;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
}

a {
    color: #007abf;
}

a:hover {
    color: #0c70b0;
}

/*---FORMS---*/
label, .form-item label {
    color: #8c8c8c;
    font-family: glober, sans-serif;
    font-weight: normal!important;
    padding-left: 8px;
}

textarea, select, input[type="text"], input[type="password"] {
    background: #f5f5f5;
    border: #c2c2c2 solid 1px;
    border-radius: 5px;
    max-width: 500px;
}

input.form-text, select {
    box-sizing: border-box;
    color: #333132;
    height: 40px;
    font-size: 1rem;
    padding-left: 8px;
    -webkit-transition: border-color .2s;
    transition: border-color .2s;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f5f5f5 url("../images/arrow_down.svg") no-repeat 98% center;
    background-size: 10px;
    padding-right: 15px;
}

input.form-text:focus, select:focus, textarea:focus {
    border-color: #1082c3;
}

.node-form {
    max-width: 400px;
    margin: 0 auto;
}

.node-form .form-actions {
    text-align: right;
}

.node-form input.form-text, .node-form select, .node-form textarea {
    max-width: 400px;
    width: 100%;
}

.view-filters input.form-text {
    max-width: 220px;
}

html.js .form-autocomplete {
    background-image: none;
}

.form-submit {
    background: #007abf;
    border: solid 1px #164170;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    font-family: glober, sans-serif;
    padding: 0 25px;
    margin-left: 5px;
}

.form-submit:hover {
    background: #008ed3;
    color: #fff;
}

.resizable-textarea .grippie {
    background: transparent;
    border: none;
}

/*---HEADER---*/
.l-header {  }

.l-branding {
    min-height: 70px;
}

.l-region--header {
    text-align: right;
}

.l-region--header--item {
    color: #333132;
    font-size: 1.125rem;
    line-height: 70px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

.l-region--header--item:hover {
    text-decoration: underline;
}

.isa_theme-header-title {
    display: inline-block;
}

/*---NAVIGATION---*/
.l-region--navigation {
    background-image: linear-gradient(to right, #164170 0%, #0c70b0 100%);
    font-size: 1.125rem;
    min-height: 60px;
    text-align: center;
    width: 100%;
}

.menu {
    text-align: center;
    padding-inline-start: 0px;
}

.menu .leaf {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}

.menu .leaf a {
    color: #88adc9;
    font-size: 1.125rem;
    line-height: 60px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

.menu .leaf a:hover {
    color: #fff;
    text-decoration: underline;
}

.menu .leaf a.active {
    color: #fff;
}

.site-logo {
    display: inline-block;
    height: 70px;
    vertical-align: middle;
}

.site-logo img {
    height: auto;
    width: 195px;
}

/*---TABLES---*/
.views-table {
    width: 100%;
}

.views-table td {
    background: #ffffff;
    border-bottom: solid 1px #c2c1c2;
    line-height: 30px;
    padding-top: 5px;
}

.views-table thead th {
    background: #ffffff;
    border-bottom: solid 2px #007abf;
    color: #007abf;
    font-weight: normal;
    line-height: 30px;
}

.views-table thead a {
    color: #007abf;
    font-weight: normal;
}

/*---CONTENT---*/
.l-main {
    padding-bottom: 150px;
}

.l-content h1 {
    color: #008ed3;
    display: flex;
}

.l-content h1::after {
    background: #008ed3;
    content: "";
    flex: 1;
    height: 2px;
    margin: 15px 0 0 15px;
    width: 100%;
}

/*---FOOTER---*/
.l-footer {
    background: #f5f5f5;
    border-top: solid 1px #e6e6e6;
    bottom: 0;
    box-sizing: border-box;
    height: 150px;
    margin-bottom: 0 !important;
    max-width: 100% !important;
    position: absolute;
    text-align: center;
    width: 100%;
}

.isa_theme-footer-wrapper {
    align-items: center;;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 25px;
}

.isa_theme-footer_logo {
    width: 200px;
    padding-bottom: 20px;
}

.isa_theme-footer_left {
    flex: 1;
    text-align: left;
}

.isa_theme-footer_right {
    color: #007abf;
    flex: 2;
    font-size: 1.125rem;
    text-align: right;
}

.isa_theme-footer_copyright {
    font-family: Glober-Bold, sans-serif;
}

.isa_theme-link-black {
    color: #333132;
}

/*---LOGIN_PAGE---*/
.isa_theme-user-login-form-wrapper {
    margin: 0 auto;
    max-width: 100%;
    width: 250px;
}

.isa_theme-user-login-select {
    width: 250px;
    margin-bottom: 1em;
}

.isa_theme-user-login-form-wrapper input {
    box-sizing: border-box;
    width: 250px;
}

.isa_theme-user-login-logo {
    height: auto;
    max-width: 100%;
    width: 280px;
}

.isa_theme-user-login-intro {
    margin-top: 0;
    text-align: center;
}

/*---TABLE FILTERS---*/
.views-exposed-form .views-exposed-widget .form-submit {
    height: 40px;
    line-height: 40px;
    margin-top: 1.3rem;
    padding: 0 15px;
}

/*Hide header and title for front page - temporary crunch*/
.front.not-logged-in .l-header, .front.not-logged-in h1 {
    display: none;
}